header h1{
    font-family: Verdana;
    font-weight: Normal;
    font-size: 50px;
    color: white;
}
header a{
    font-size: 16px;
    color: aquamarine;
}
body{
    background-color: black;
    text-align: center;
}
section p{
    text-align: center;
}